Repository goliac-project/goliac-teams, changes with the owners that .github/CODEOWNERS names for each.
All owners: @goliac-project/admin, @goliac-project/admin-goliac-owners, @goliac-project/team4-goliac-owners, @goliac-project/ete-goliac-owners

.github/CODEOWNERS:

# DO NOT MODIFY THIS FILE MANUALLY
* @goliac-project/admin
"/teams/Another Team/*" @goliac-project/another-team-goliac-owners @goliac-project/admin
/teams/admin/* @goliac-project/admin-goliac-owners @goliac-project/admin
/teams/team4/* @goliac-project/team4-goliac-owners @goliac-project/admin
/teams/été/* @goliac-project/ete-goliac-owners @goliac-project/admin

fix team4
  teams/team4/team.yaml
Owners: @goliac-project/team4-goliac-owners, @goliac-project/admin

fix team4 (#31)
  teams/team4/team.yaml
Owners: @goliac-project/team4-goliac-owners, @goliac-project/admin

fix repo name
  teams/team4/Another Team/ete-02.yaml
  teams/été/ete-01.yaml
Owners: @goliac-project/admin, @goliac-project/ete-goliac-owners

fix repo name (#32)
  teams/team4/Another Team/ete-02.yaml
  teams/été/ete-01.yaml
Owners: @goliac-project/admin, @goliac-project/ete-goliac-owners

remove teams repo
  teams/admin/teams.yaml
Owners: @goliac-project/admin-goliac-owners, @goliac-project/admin

remove teams repo (#33)
  teams/admin/teams.yaml
Owners: @goliac-project/admin-goliac-owners, @goliac-project/admin
